<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.neal.blog.dao.LikeMapper">
    <insert id="newLike" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO tb_like(article_id, visitor_id)
        VALUES (#{articleId}, #{visitorId})
    </insert>
    <delete id="cancelLike">
        DELETE
        FROM tb_like
        WHERE article_id = #{articleId}
          AND visitor_id = #{visitorId}
    </delete>

    <select id="countLikeByArticleId" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT COUNT(*)
        FROM tb_like
        WHERE article_id = #{id}
    </select>
    <select id="countLikeByVisitor" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_like
        WHERE article_id = #{articleId}
          AND visitor_id = #{visitorId}
    </select>
</mapper>